.btn-lg {
  font-size: 24px;
  padding: 17px 36px;
  border-radius: 60px;
}

.badge-pill-accent {
  color: #2c3640;
  background-color: transparent;
  border: 1px solid #2c3640;
}

.badge-pill-info {
  color: #17a2b8;
  background-color: transparent;
  border: 1px solid #17a2b8;
}