.carousel-indicators {
  bottom: -50px;  
}

.carousel-indicators li {
  background-color: #2c3640;
  opacity: .5;
}

.carousel-indicators li.active {
  background-color: #2c3640;
  opacity: 1 !important;
}

.course-card {
  
  .item {
    border-radius: 15px;
  }
  
  .post-img {
    border-radius: 15px 15px 0 0;
  }
  
  @media screen and (min-width: 960px) {
    img {
      height: 360px;
    }
  }
  
  @media screen and (max-width: 960px) {
    img {
      height: 280px;
    }
  }
  
  h3 {
    font-size: 1.5rem;
    line-height: 34px;
    
  }
}