<!-- Start Contact Section -->
<div id="contact"></div>
<section class="contact no-padding-bottom bg-light-gray" data-scroll-index="6">
  <div class="container margin-100px-bottom md-margin-70px-bottom sm-margin-50px-bottom">
    <div class="row">
      <div class="col-12 center-col margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
        <h3 class="font-weight-700 font-size32 md-font-size27 sm-font-size24 xs-font-size20 section-title">
          <%= t("contact.heading") %>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a class="typeform-share link btn white btn-lg mt-5 mt-xl-0" href="https://studiomatic.typeform.com/to/ZYTLzN" data-mode="popup" data-hide-headers=true data-hide-footer=true data-submit-close-delay="0" target="_blank">
          <%= t("contact.cta") %>
        </a>
      </div>
    </div>
  </div>

  <div class="padding-30px-tb border-color-medium-gray">
    <div class="container">
      <div class="row info">

        <!-- start quickly contact -->

        <div class="col-12 mt-n2 col-md-4 item text-center xs-margin-20px-bottom xs-padding-20px-bottom">
          <span class="icon font-size32">
            <i class="fas fa-phone"></i>
          </span>
          <div class="cont">
            <h6><%= t("contact.phone") %></h6>
            <p>(+33) 6 58 47 16 11</p>
          </div>
        </div>
        <div class="col-12 mt-n2 col-md-4 item text-center xs-margin-20px-bottom xs-padding-20px-bottom">
          <div class="cont">
            <h6>
              <a href="https://www.github.com/anthonyamar/" target="_blank">
                <i class="fab fa-github fa-2x mt-4 mr-5"></i>
              </a>
              <a href="https://www.linkedin.com/in/anthonyamar/">
                <i class="fab fa-linkedin fa-2x mt-4" target="_blank"></i>
              </a>
            </h6>
          </div>
        </div>
        <div class="col-12 mt-n2 col-md-4 item text-center">
          <span class="icon font-size32">
            <i class="fas fa-envelope"></i>
          </span>
          <div class="cont">
            <h6><%= t("contact.email") %></h6>
            <p>hello@anthonyamar.fr</p>
          </div>
        </div>
      </div>
      <!-- end quickly contact -->
    </div>
  </div>

</section>
<!-- End Contact Section -->


<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>