<!--  Start Footer Section -->
<footer class="bg-black">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <span class="font-size13 text-uppercase letter-spacing-1 text-light-gray">&copy; 2020 Anthony Amar</span>
        </div>
      </div>
    </div>
  </div>
  <a href="#">
    <div id="back-to-top" class="back-to-top reveal">
      <i class="fa fa-angle-up"></i>
    </div>
  </a>
</footer>